<!doctype html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/stylesheets/product.css">
      <title>{{ title }}</title>
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/products">Menu</a>
      <a href="/story">Our Story</a>
      <a href="/gallery">Gallery</a>
      <a href="/reviews">Reviews</a>
      <a href="/contactus">Contact</a>
      <a href="/booking">Book A Table</a>
      <a href="http://facebook.com/profile.php?=733"><img src="images/Home/facebook.png" width="30%" height="30%" title="Facebook" alt="linkIt"></a>
      <a href="https://www.instagram.com/ayshanfuhdi/?hl=en"><img src="images/Home/instagram.png" width="30%" height="30%" title="Instagram" alt="linkIt"></a>
    </div>
    <img id="moreIcon" src="images/Home/more.png" onclick="openNav()"></a>
    <br>
    <div class="Productcontainer" style="display: flex;flex-direction:row;align-items:center;justify-content: center;">
      <div class="dropdown">
        <button onclick="RecomendedFunction()" class="dropbtn">Recomended</button>
        <div id="RDropdown" class="dropdown-content">
          <div class="flex-container">
              {{# each recomended }}
                <article class="item" style ="margin:10px;word-wrap: break-word;">
                  <div><img src="{{this.Image}}" style="width:150px;height:150px;"></div>
                  <div>{{ this.Name }}</div>
                  <div>€{{ this.Price }}</div>
                  <details>
                    <summary style="word-wrap: break-word;"></summary>
                    <div>{{ this.Description}}</div>
                    <div>Contains: {{ this.Contains}}</div>
                  </details>
                </article>
              {{/each}}
          </div>
          </div>
        </div>
        <div class="dropdown">
          <button onclick="StartersFunction()" class="dropbtn">Starters</button>
          <div id="SDropdown" class="dropdown-content">
            <div class="flex-container">
              {{# each starter }}
                <article class="item" style ="margin:10px;word-wrap: break-word;">
                  <div><img src="{{this.Image}}" style="width:150px;height:150px;"></div>
                  <div>{{ this.Name }}</div>
                  <div>€{{ this.Price }}</div>
                  <details>
                    <summary></summary>
                    <div>{{ this.Description}}</div>
                    <div>Contains: {{ this.Contains}}</div>
                  </details>
                </article>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button onclick="MainFunction()" class="dropbtn">Main</button>
          <div id="MDropdown" class="dropdown-content">
            <div class="flex-container">
              {{# each main }}
                <article class="item" style ="margin:10px;word-wrap: break-word;">
                  <div><img src="{{this.Image}}" style="width:150px;height:150px;"></div>
                  <div>{{ this.Name }}</div>
                  <div>€{{ this.Price }}</div>
                  <details>
                    <summary></summary>
                    <div>{{ this.Description}}</div>
                    <div>Contains: {{ this.Contains}}</div>
                  </details>
                </article>
              {{/each}}
            </div>
          </div>
        </div>
        <div class="dropdown">
          <button onclick="DesertFunction()" class="dropbtn">Desert</button>
          <div id="DDropdown" class="dropdown-content">
            <div class="flex-container">
              {{# each desert }}
                <article class="item" style ="margin:10px;word-wrap: break-word;">
                  <div><img src="{{this.Image}}" style="width:150px;height:150px;"></div>
                  <div>{{ this.Name }}</div>
                  <div>€{{ this.Price }}</div>
                  <details>
                    <summary></summary>
                    <div>{{ this.Description}}</div>
                    <div>Contains: {{ this.Contains}}</div>
                  </details>
                </article>
              {{/each}}
            </div>
          </div>
        </div>
        <br>
        <a href="http://localhost:8000/contactus"><img src="/images/Other/cornerDogOnPhone.png" style="width:10%;height:12%;position: fixed;right: 0;bottom:0;"></a>
        <a href="http://localhost:8000/"><img src="images/Home/logo.png" style="width:10%;height:12%;position: fixed;right: 0;top:0;"></a>
        <a href="path_to_file" download="/files/Menu.pdf"><img src="images/Other/download.png" style="width:10%;height:10%;position: fixed;left: 0;bottom:0;"></a>
      </div>
      <script>
      //////////////////// Drop Down Menus ///////////////////////////
        function RecomendedFunction() {
          closeNav();
          if (document.getElementById("RDropdown").style.display === "block") {
            document.getElementById("RDropdown").style.display ="none";
          } else {
            document.getElementById("RDropdown").style.display ="block";
          }
          document.getElementById("SDropdown").style.display ="none";
          document.getElementById("MDropdown").style.display="none";
          document.getElementById("DDropdown").style.display="none";
        }
        function StartersFunction() {
          closeNav();
          document.getElementById("RDropdown").style.display="none";
          if (document.getElementById("SDropdown").style.display === "block") {
            document.getElementById("SDropdown").style.display ="none";
          } else {
            document.getElementById("SDropdown").style.display ="block";
          }
          document.getElementById("MDropdown").style.display="none";
          document.getElementById("DDropdown").style.display="none";
        }
        function MainFunction() {
          closeNav();
          document.getElementById("RDropdown").style.display="none";
          document.getElementById("SDropdown").style.display="none";
          if (document.getElementById("MDropdown").style.display === "block") {
            document.getElementById("MDropdown").style.display ="none";
          } else {
            document.getElementById("MDropdown").style.display ="block";
          }
          document.getElementById("DDropdown").style.display="none";
        }
        function DesertFunction() {
          closeNav();
          document.getElementById("RDropdown").style.display="none";
          document.getElementById("SDropdown").style.display="none";
          document.getElementById("MDropdown").style.display="none";
          if (document.getElementById("DDropdown").style.display === "block") {
            document.getElementById("DDropdown").style.display ="none";
          } else {
            document.getElementById("DDropdown").style.display ="block";
          }
        }
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("RDropdown").style.display="none";
          document.getElementById("SDropdown").style.display="none";
          document.getElementById("MDropdown").style.display="none";
          document.getElementById("DDropdown").style.display ="none";
          if(screen.width <= 650){
            document.getElementById("mySidenav").style.width = "40%";
          }
          else{
            document.getElementById("mySidenav").style.width = "20%";
          }
          document.getElementById("moreIcon").style.display = "none";
        }
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>
    </body>
</html>
